@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #efe6e4;
    width: 1400px;
    margin: 0 auto;
}

.page-header {
    position: fixed;
    left: calc(100wp - 700px);
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 34px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    z-index: 9999;
}

.page-header a {
    text-decoration: none;
}

.page-navigation-bar {
    padding-left: 100px;
    padding-right: 100px;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navigate-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.nav-item {
    margin-right: 26px;
}

.wraper-logotype {
    display: flex;
    width: 100px;
    align-items: center;
} 

.link-nav-item {
    color: #533738;
    text-decoration: none;
}

.page-main {
    height: 715px;

    margin: 0 auto;
    padding-left: 182px;

    background-image: url(../pictures/background_image/first-screen-background.jpg);
    background-size: cover;
    background-color: #efe6e4;
}

.main-heading {
    display: inline-block;
    
    width: 534px;
    margin-top: 152px;
    margin-bottom: 24px;

    color: #533738;
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
}

.normal-body-text {
    color: #533738;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

.main-heading + .normal-body-text {
    display: block;
    width: 492px;
}

.btn-request {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 74px;
    box-sizing: border-box;

    text-decoration: none;

    background: #cc8b86;
    color: #533738;
    
    text-align: center;
    line-height: 24px;
    font-weight: 500;
    font-size: 20px;
    border: 0px;
}

.about-us {
    width: 1400px;
    margin: 65px auto 21px ;
}

.image-about {
    margin-left: 182px;
    margin-right: 64px;
}

.about-us .normal-body-text {
    display: inline-block;
    width: 528px;
}


.center {
    display: block;
    text-align: center;    
    margin-bottom: 40px;
}

.title-h2 {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    font-weight: 400;
}

.white {
    color: #ffffff;
    text-align: center;
}

.statistic-flex {
    background-color: #8d7370;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 269px;
    margin-top: 21px;
}


.wrap-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.wrap-stats:first-child {
    margin-left: 182px;
}
.wrap-stats:last-child {
    margin-right: 180px;
}

.caption-stats-number {
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 81px;
}

.list-item-stats {
    margin-top: 85px;
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
    margin-bottom: 0;
}

.wrapper-flex {
    display: flex;
    align-items: flex-start;
}

.grid_container {
display: grid;
grid-template-columns: repeat(12, 1fr);
gap: 15px 20px;
}

.image-five-column {
    grid-column: span 5;
}

.image-seven-column {
    grid-column: span 7;
}

.section-portfolio {
    margin-top: 65px;
    padding-left: 100px;
    padding-right: 100px;
}

.portfolio {
    width: 100%;
}

.btn-more {
    position: relative;
    color: #533738;
    margin-top:  40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.btn-more::after {
    content: url(../images/vector/Arrows/arrow_more.svg);
    position: absolute;
    margin-left: 10px;
    
}

.team,
.how-we-work {
    background-color: #e2c4ba;
    margin: 0;
}

.team .title-h2 {
    padding-top:  50px;
}

.teams {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.person {
    width: 320px;
}

.img-person {
    margin-bottom: 10px;
}

.how-we-work .title-h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
}

.list-how-we-work {
    list-style: none;
    counter-reset: my;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 155px;
}
.item-how-we-work {
    font-family: 'Montserrat';
    line-height: 30px;
    width: 285px;
    counter-increment: my;
    position: relative;
    text-align: center;
    color: #533738;
    margin-bottom: 80px;
}

.item-how-we-work::before {
    position: absolute;
    margin-left: 107px;
    margin-top: -101px;
    display: flex;
    content: counter(my);
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    background-color: #8d7370;
}

.reviews-flex {
    display: flex;
    flex-direction: column;
    width: 407px;
    list-style: none;
    margin-right: 20px;
}

.reviews-column-img {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.wrap-reviews-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrap-reviews-flex::after {
    content: url(../images/vector/Arrows/arrow_btn.svg);
    position: absolute;
    width: 72px;
    height: 72px;
    background-color: #cc8b86;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -982px;
    margin-bottom: 12px;
}

.wrap-reviews-flex::before {
    content: url(../images/vector/Arrows/arrow_btn.svg);
    transform: rotate(180deg);
    position: absolute;
    width: 72px;
    height: 72px;
    background-color: #cc8b86;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1042px;
    margin-bottom: 12px;
}

.request-action {
    background-color: #8D7370;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.name-request {
    -webkit-appearance: none;
    display: block;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 508px;
    color: #fff;
    background-color: #8D7370;
    margin-bottom: 25px;
}

.name-request::placeholder {
    color: #F6EDE9;
}

.phone-request {
    -webkit-appearance: none;
    display: block;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 508px;
    color: #fff;
    background-color: #8D7370;
    margin-bottom: 31px;
}

.phone-request::placeholder {
    color: #F6EDE9;
}

.page-main p.normal-body-text {
    margin-bottom: 21px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 510px;
    margin-left: 180px;
    margin-right: 20px;
}

.from-form {
    display: inline-block;
    text-align: start;
}

h2.from-form {
    margin-bottom: 24px;
    margin-top: 50px;
}

p.from-form {
    margin-bottom: 44px;
    opacity: .6;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 40px;
}

.wrap-element {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
}
