@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    width: 1400px;
    margin: 0 auto;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    
    background-color: #efe6e4;
}

.page-header {
    position: fixed;
    z-index: 9999;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1400px;
    margin-top: 34px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.page-header .link-nav-item {
    text-decoration: none;
}

.page-navigation-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    padding-left: 100px;
    padding-right: 100px;
}

.navigate-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.nav-item {
    margin-right: 26px;
}

.wrapper-logotype {
    display: flex;
    align-items: center;
    width: 100px;
} 

.link-nav-item {
    color: #533738;
    text-decoration: none;
}

.page-main {
    height: 715px;
    padding-left: 182px;

    background-image: url("../pictures/background_image/first-screen-background.jpg");
    background-size: cover;
    background-color: #efe6e4;
}

.main-heading {
    display: inline-block;
    width: 534px;
    margin-top: 152px;
    margin-bottom: 24px;

    color: #533738;
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
}

.normal-body-text {
    margin: 0;
    
    color: #533738;
    font-size: 18px;
    line-height: 30px;
}

.main-heading + .normal-body-text {
    display: block;
    width: 492px;
}

.btn-request {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 74px;
    border: 0px;
    box-sizing: border-box;

    text-align: center;
    line-height: 24px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;

    background: #cc8b86;
    color: #533738;

    transition: background-color 0.2s ease-in;
    

}

.about-us {
    width: 1400px;
    margin: 65px auto 21px ;
}

.image-about {
    margin-left: 182px;
    margin-right: 64px;
    
}

.about-us .normal-body-text {
    display: inline-block;
    width: 528px;
}


.center {
    display: block;
    text-align: center;    
    margin-bottom: 40px;
}

.title-h2 {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #533738;
    font-weight: 400;
}

.title-h3 {
    color: #533738;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
}

.white {
    color: #ffffff;
    text-align: center;
}

.statistic-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 269px;
    margin-top: 21px;

    background-color: #8d7370;
}


.wrap-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.wrap-stats:first-child {
    margin-left: 182px;
}
.wrap-stats:last-child {
    margin-right: 180px;
}

.caption-stats-number {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 81px;

    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
}

.list-item-stats {
    margin-top: 85px;
    margin-bottom: 0;
    
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
}

.wrapper-flex {
    display: flex;
    align-items: flex-start;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px 20px;
}

.image-five-column {
    grid-column: span 5;
    position: relative;
}

.visually-hidden {
    position: absolute;
    top: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    background: rgba(100, 72, 69, 0.8);
    opacity: 0;

    transition: opacity 0.3s ease-in;
}

.image-five-column:hover .visually-hidden {
    opacity: 1;

    transition: opacity 0.2s ease-in;
}

.image-seven-column {
    position: relative;

    grid-column: span 7;
}

.image-seven-column:hover .visually-hidden {
    opacity: 1;

    transition: opacity 0.2s ease-in;
}

.section-portfolio {
    margin-top: 65px;
    margin-bottom: 65px;
    padding-left: 100px;
    padding-right: 100px;
}

.portfolio {
    width: 100%;
    height: 100%;
}

.btn-more {
    position: relative;

    margin-top:  40px;

    color: #533738;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.btn-more::after {
    position: absolute;

    margin-left: 10px;

    content: url("../images/vector/Arrows/arrow_more.svg");
}

.btn-more:hover {
    text-decoration: underline;
}

.team,
.how-we-work {
    margin: 0;

    background-color: #e2c4ba;
}


.team .title-h2 {
    padding-top:  50px;
}

.teams {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;

    list-style: none;
}

.person {
    width: 320px;
}

.img-person {
    margin-bottom: 10px;
}

.how-we-work .title-h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 35px;
}

.list-how-we-work {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 155px;

    list-style: none;
    counter-reset: my;
}

.item-how-we-work {
    position: relative;

    width: 285px;
    margin-bottom: 80px;

    font-family: "Montserrat";
    line-height: 30px;
    counter-increment: my;
    text-align: center;
    color: #533738;
}

.item-how-we-work::before {
    position: absolute;

    margin-left: 107px;
    margin-top: -101px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    
    content: counter(my);
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    
    border-radius: 100px;
    background-color: #8d7370;
}

.reviews-flex {
    display: flex;
    flex-direction: column;
    width: 407px;
    margin-right: 20px;

    list-style: none;
}

.reviews-column-img {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.wrap-reviews-flex {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews {
    position: relative;

    margin-top: 65px;
    margin-bottom: 65px;
}

.btnArrow-left {
    position: absolute;
    top: 50%;
    left: 182px;
    z-index: 100;

    width: 72px;
    height: 72px;

    background-image: url("../images/vector/Arrows/btnArrow-left.svg");
    background-size: auto;
    border-radius: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #cc8b86;
    border: none;

    transition: background-color 0.1s ease-in;
}

.btnArrow-right {
    position: absolute;
    top: 50%;
    right: 146px;
    z-index: 100;

    width: 72px;
    height: 72px;

    background-image: url("../images/vector/Arrows/btnArrow-right.svg");
    background-size: auto;
    border-radius: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #cc8b86;
    border: none;
    
    transition: background-color 0.1s ease-in;
}

.btnArrow-right:hover,
.btnArrow-left:hover {
    background-color: #8d7370;
}

.request-action {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 30px;

    background-color: #8d7370;
}

.name-request {
    display: block;
    
    padding-bottom: 6px;
    width: 508px;
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #8d7370;
    outline-style: none;

    -webkit-appearance: none;
}

.name-request::placeholder {
    color: #f6ede9;

    opacity: 0.7;
}

.phone-request {
    display: block;

    width: 508px;
    margin-bottom: 31px;
    padding-bottom: 6px;

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;

    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #8D7370;
    outline-style: none;

    -webkit-appearance: none;
}

.phone-request::placeholder {
    color: #f6ede9;
    opacity: 0.7;
}

.page-main p.normal-body-text {
    margin-bottom: 21px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 510px;
    margin-left: 180px;
    margin-right: 20px;
}

.from-form {
    display: inline-block;

    text-align: start;
}

h2.from-form {
    margin-bottom: 24px;
    margin-top: 50px;
}

p.from-form {
    margin-bottom: 44px;
    opacity: 0.6;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    margin-bottom: 40px;
}

.wrap-element {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
}

.btn-request:hover {
    background-color: #ede4B4;
}

.navigate-item-list .link-nav-item:hover {
    text-decoration: underline;
}
.phone-link-nav-item:hover {
    text-decoration: underline;
}

.phone-link-nav-item {
    color: #533738;
    text-decoration: none;
}

.wrap-text-about {
    display: flex;
    flex-direction: column;
}

.wrap-text-about .normal-body-text:first-child {
    margin-bottom: 35px;
}

.visually-hidden .normal-body-text {
    padding-left: 35px;
    padding-right: 35px;
    
    text-align: start;
}